# Virtual Environment
venv/
env/
.env

# ChromaDB Vector Database Storage (Jangan di-push ke git karena ukurannya besar/binary)
chroma_db_infotentor/

# Python Cache & Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS specific files (Mac/Windows)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
